<!doctype html>
<html>
  <head>
    <title>Customers2</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bower_components/ladda/dist/ladda-themeless.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="bower_components/angular-auto-validate/dist/jcs-auto-validate.min.js"></script>
    <script src="bower_components/ladda/dist/spin.min.js" ></script>
    <script src="bower_components/ladda/dist/ladda.min.js" ></script>
    <script src="bower_components/angular-ladda/dist/angular-ladda.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-app="app" ng-controller="CustController as cust">

  <nav class="navbar navbar-inverse ">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="
#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="numbers.html">Numbers</a></li>
            <li><a href="math.html">Math</a></li>
            <li><a href="todo.html">ToDo</a></li>
            <li><a href="landing.html">Landing</a></li>
            <li><a href="parallax.html">Parallax</a></li>
            <li><a href="form1.html">Form1</a></li>
            <li><a href="form2.html">Form2</a></li>
            <li><a href="customers.html">Customers</a></li>
            <li class="active"><a href="customers2.html">Customers2</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <h2>ToDo List</h2>
    <hr />
    <form>
      <h3>New Task:</h3>
      <div>
          Name: <input type="text" ng-model="newtask.name" placeholder="customer name" />
      </div>
      <div>
        <label for="year">Year</label>
        <select type="number"
               required="required"
               id="year"
               ng-model="newtask.year">
               <!-- <option value="" >Please Choose<option> -->
               <option selected="selected" value=2017>2017</option>
               <option value=2016>2016</option>
        </select>
      </div>
      <div>
          <input type="submit" ng-click="cust.add(newtask)" value="Add Task" size="30" />
      </div>
    </form>
    <hr />
    <span>{{cust.remaining() }} of {{cust.customers.length}} remaining </span>
    <ul>
      <li ng-repeat="customer in customers">
        <input type="checkbox" size="30" ng-model="customer.done" ng-click="cust.delete(customer)" />
        <!-- <span ng-hide="task.done">{{task.name}}</span> -->
        <span class="done-{{customer.done}}">{{customer.name}} {{customer.year}} </span>
      </li>
    </ul>
    <hr />

    <div class="row" >
      <div class="col-md-6" >
        <form class="form-inline well well-sm" >
          <span class="glyphicon glyphicon-search" ></span >

            <div class="form-group" >
              <input type="text"
                     class="form-control"
                     id="name"
                     ng-model"search.$"
                     placeholder="Search name..."
                  />
            </div>
          </form>
        </div>
      </div>

    <div class="row">
      <div class="col-md-4" >
        <table class="table table-bordered" >
          <tr >
            <th >#</th >
              <th >Name
                <span class="glyphicon glyphicon-menu-up"></span>
                <span class="glyphicon glyphicon-menu-down"></span>
                </th >
            <th >Year</th >
          </tr >

          <tr ng-repeat="customer in customers | orderBy:'name' | filter:search" 
              ng-style="{
                'background-color': $index == selectedIndex ? 'lightgray' : ''}"
              ng-click="selectCustomer(customer, $index)">
              <td >{{ $index }}</td >
              <td >{{ customer.name }}</td>
              <td >{{ customer.year }}</td>
          </tr >
          <tr >
            <td colspan="4">
              <div class="alert alert-info">
                <p class="text-center">
                  No results found for search term '{{ search }}'
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
      
      <div class="col-md-2" >
        <div class="panel panel-default" >
          <div class="panel-heading" >Details</div>
          <div class="panel-body" >

            <dl >
              <dt >Name</dt >
              <dd >{{selectedCustomer.name}}</dd >
              <dt >Year</dt >
              <dd >{{selectedCustomer.year}}</dd >
            </dl>
          </div>
        </div>
        <pre> {{ search | json}} </pre>
      </div>

    </div>


    <!--
    <div>
      <label>First number:</label>
      <input type="number" ng-model="main.num1" />
      <br />
      <label>Second number:</label>
      <input type="number" ng-model="main.num2" />
      <hr>
      <h1>Sum: {{main.num1 + main.num2}}</h1>
      <h1>Product: {{main.num1 * main.num2}}</h1>
    </div>
    -->
  </body>
</html>
